In [1]:
import pandas as pd

In [2]:
user_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_user.csv")

In [3]:
user_db.dtypes

user_id                object
name                   object
review_count            int64
yelping_since          object
friends                object
useful                  int64
funny                   int64
cool                    int64
fans                    int64
elite                  object
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object

In [4]:
user_db.shape

(1326100, 22)

In [5]:
user_db.head(10)

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,None,...,0,0,0,0,0,0,0,0,1,0
5,Ob-2oGBQ7rwwYwUvhmnf7g,B,9,2012-05-01,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
6,JaTVvKsBl0bHHJEpESn4pQ,Peter,2,2013-03-23,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
7,Ykj0DVsz0c6rX9ghjd0hDg,Colleen,1,2010-10-10,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
8,kmyEPfKnHQJdTceCdoyMQg,A,7,2012-10-16,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
9,H54pA7YHfjl8IjhHAfdXJA,Chad,3,2010-06-25,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0

In [6]:
user_db['yelping_since']= pd.to_datetime(user_db['yelping_since'])

In [7]:
user_db.isnull().sum()

user_id                 0
name                  497
review_count            0
yelping_since           0
friends                 0
useful                  0
funny                   0
cool                    0
fans                    0
elite                   0
average_stars           0
compliment_hot          0
compliment_more         0
compliment_profile      0
compliment_cute         0
compliment_list         0
compliment_note         0
compliment_plain        0
compliment_cool         0
compliment_funny        0
compliment_writer       0
compliment_photos       0
dtype: int64

In [8]:
user_db=user_db.dropna()

In [9]:
user_db.shape

(1325603, 22)

In [10]:
user_db.duplicated().sum()

0

In [11]:
user_db.isnull().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
friends               0
useful                0
funny                 0
cool                  0
fans                  0
elite                 0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

In [12]:
user_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_user.csv', encoding='utf-8',index=False)

In [13]:
tip_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_tip.csv")

In [14]:
tip_db.head(10)

,text,date,likes,business_id,user_id
0,Great breakfast large portions and friendly wa...,2015-08-12,0,jH19V2I9fIslnNhDzPmdkA,ZcLKXikTHYOnYt5VYRO5sg
1,Nice place. Great staff. A fixture in the tow...,2014-06-20,0,dAa0hB2yrnHzVmsCkN4YvQ,oaYhjqBbh18ZhU0bpyzSuw
2,Happy hour 5-7 Monday - Friday,2016-10-12,0,dAa0hB2yrnHzVmsCkN4YvQ,ulQ8Nyj7jCUR8M83SUMoRQ
3,"Parking is a premium, keep circling, you will ...",2017-01-28,0,ESzO3Av0b1_TzKOiqzbQYQ,ulQ8Nyj7jCUR8M83SUMoRQ
4,Homemade pasta is the best in the area,2017-02-25,0,k7WRPbDd7rztjHcGGkEjlw,ulQ8Nyj7jCUR8M83SUMoRQ
5,"Excellent service, staff is dressed profession...",2017-04-08,0,k7WRPbDd7rztjHcGGkEjlw,ulQ8Nyj7jCUR8M83SUMoRQ
6,Come early on Sunday's to avoid the rush,2016-07-03,0,SqW3igh1_Png336VIb5DUA,ulQ8Nyj7jCUR8M83SUMoRQ
7,Love their soup!,2016-01-07,0,KNpcPGqDORDdvtekXd348w,ulQ8Nyj7jCUR8M83SUMoRQ
8,Soups are fantastic!,2016-05-22,0,KNpcPGqDORDdvtekXd348w,ulQ8Nyj7jCUR8M83SUMoRQ
9,Thursday night is $5 burger night,2016-06-09,0,KNpcPGqDORDdvtekXd348w,ulQ8Nyj7jCUR8M83SUMoRQ

In [15]:
tip_db.isnull().sum()

text           2
date           0
likes          0
business_id    0
user_id        0
dtype: int64

In [16]:
tip_db = tip_db.dropna()

In [17]:
tip_db['date']= pd.to_datetime(tip_db['date'])

In [18]:
tip_db.dtypes

text                   object
date           datetime64[ns]
likes                   int64
business_id            object
user_id                object
dtype: object

In [19]:
tip_db.isnull().sum()

text           0
date           0
likes          0
business_id    0
user_id        0
dtype: int64

In [20]:
tip_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_tip.csv', encoding='utf-8',index=False)

In [21]:
review_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_review.csv")

In [22]:
review_db.head(10)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0
5,HRPm3vEZ_F-33TYVT7Pebw,_4iMDXbXZ1p1ONG297YEAQ,8QWPlVQ6D-OExqXoaD2Z1g,5,2014-09-24,Cycle Pub Las Vegas was a blast! Got a groupon...,1,0,0
6,ymAUG8DZfQcFTBSOiaNN4w,u0LXt3Uea_GidxRW1xcsfg,9_CGhHMz8698M9-PkVf0CQ,4,2012-05-11,Who would have guess that you would be able to...,0,0,2
7,8UIishPUD92hXtScSga_gw,u0LXt3Uea_GidxRW1xcsfg,gkCorLgPyQLsptTHalL61g,4,2015-10-27,Always drove past this coffee house and wonder...,1,0,0
8,w41ZS9shepfO3uEyhXEWuQ,u0LXt3Uea_GidxRW1xcsfg,5r6-G9C4YLbC7Ziz57l3rQ,3,2013-02-09,"Not bad!! Love that there is a gluten-free, ve...",1,0,0
9,WF_QTN3p-thD74hqpp2j-Q,u0LXt3Uea_GidxRW1xcsfg,fDF_o2JPU8BR1Gya--jRIA,5,2016-04-06,Love this place!\n\nPeggy is great with dogs a...,3,0,0

In [23]:
review_db.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
date           0
text           0
useful         0
funny          0
cool           0
dtype: int64

In [24]:
review_db.duplicated().sum()

0

In [25]:
review_db['date']= pd.to_datetime(review_db['date'])

In [26]:
review_db.dtypes

review_id              object
user_id                object
business_id            object
stars                   int64
date           datetime64[ns]
text                   object
useful                  int64
funny                   int64
cool                    int64
dtype: object

In [27]:
review_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_review.csv', encoding='utf-8',index=False)

In [28]:
checkin_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_checkin.csv")

In [29]:
checkin_db.head(10)

              business_id weekday   hour  checkins
0  3Mc-LxcqeguOXOVT_2ZtCg     Tue   0:00        12
1  SVFx6_epO22bZTZnKwlX7g     Wed   0:00         4
2  vW9aLivd4-IorAfStzsHww     Tue  14:00         1
3  tEzxhauTQddACyqdJ0OPEQ     Fri  19:00         1
4  CEyZU32P-vtMhgqRCaXzMA     Tue  17:00         1
5  9dn5pee_n2dWQfN57xoJpg     Sun   3:00         5
6  6Zk5F7fsTr8n2CJTlaxHlw     Wed   1:00         4
7  OE_IDW5w_W97sBcZvq2Img     Sat   1:00         1
8  gy5pr5bFAjOL5rERSdMCLg     Sat  15:00         1
9  r2-eAhGANXlcgQy898tTaw     Mon  19:00         1

In [30]:
checkin_db.isnull().sum()

business_id    0
weekday        0
hour           0
checkins       0
dtype: int64

In [31]:
checkin_db.duplicated().sum()

0

In [32]:
checkin_db.dtypes

business_id    object
weekday        object
hour           object
checkins        int64
dtype: object

In [33]:
checkin_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_checkin.csv', encoding='utf-8',index=False)

In [34]:
business_hours_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_business_hours.csv")

In [35]:
business_hours_db.head(10)

,business_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,FYWN1wneV18bWNgQjJ2GNg,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,None,None
1,He-G7vWjzVUysIKrfNbPUQ,9:0-20:0,9:0-20:0,9:0-20:0,9:0-20:0,9:0-16:0,8:0-16:0,None
2,KQPW8lFf1y5BT2MxiSZ3QA,None,None,None,None,None,None,None
3,8DShNS-LuFqpEWIp0HxijA,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,11:0-19:0
4,PfOCPjBrlQAnz__NXj9h_w,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-2:0,11:0-0:0
5,o9eMRCWt5PkpLDE0gOPtcQ,18:0-0:0,18:0-0:0,18:0-0:0,18:0-0:0,18:0-0:0,18:0-0:0,None
6,kCoE3jvEtg6UVz5SOD3GVw,8:0-17:0,8:0-17:0,8:0-17:0,8:0-17:0,8:0-17:0,None,None
7,OD2hnuuTJI9uotcKycxg1A,11:0-19:0,11:0-19:0,11:0-19:0,11:0-19:0,11:0-19:0,10:0-18:0,11:0-16:0
8,EsMcGiZaQuG1OOvL9iUFug,None,None,None,None,None,None,None
9,TGWhGNusxyMaA4kQVBNeew,9:0-18:0,9:0-18:0,9:0-18:0,9:0-18:0,9:0-18:0,9:0-18:0,9:0-18:0

In [36]:
business_hours_db.isnull().sum()

business_id    0
monday         0
tuesday        0
wednesday      0
thursday       0
friday         0
saturday       0
sunday         0
dtype: int64

In [37]:
business_hours_db['business_id'].duplicated().sum()

0

In [38]:
business_hours_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_business_hours.csv', encoding='utf-8',index=False)

In [39]:
business_attributes_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_business_attributes.csv")

In [40]:
business_attributes_db.head(10)

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
5,kCoE3jvEtg6UVz5SOD3GVw,Na,Na,False,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
6,OD2hnuuTJI9uotcKycxg1A,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
7,EsMcGiZaQuG1OOvL9iUFug,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
8,TGWhGNusxyMaA4kQVBNeew,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
9,XOSRcvtaKc_Q5H1SAzN20A,Na,Na,Na,Na,False,False,False,True,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [41]:
business_attributes_db.isnull().sum()

business_id                       0
AcceptsInsurance                  0
ByAppointmentOnly                 0
BusinessAcceptsCreditCards        0
BusinessParking_garage            0
                                 ..
DietaryRestrictions_halal         0
DietaryRestrictions_soy-free      0
DietaryRestrictions_vegetarian    0
AgesAllowed                       0
RestaurantsCounterService         0
Length: 82, dtype: int64

In [42]:
business_attributes_db.dropna(how='all')

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152036,kLFm_kehXNZkUc1oa2-Eaw,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152038,XXvZBIHoJBU5d6-a-oyMWQ,Na,Na,True,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152039,lNpPGgM96nPIYM1shxciHg,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152040,viKaP26BcHU6cLx8sf4gKg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [43]:
business_attributes_db['business_id'].duplicated().sum()

0

In [44]:
business_attributes_db.dtypes

business_id                       object
AcceptsInsurance                  object
ByAppointmentOnly                 object
BusinessAcceptsCreditCards        object
BusinessParking_garage            object
                                   ...
DietaryRestrictions_halal         object
DietaryRestrictions_soy-free      object
DietaryRestrictions_vegetarian    object
AgesAllowed                       object
RestaurantsCounterService         object
Length: 82, dtype: object

In [45]:
business_attributes_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_business_attributes.csv', encoding='utf-8',index=False)

In [46]:
business_db=pd.read_csv("C:/Users/raksh/OneDrive/Desktop/DAMG Project/Data/yelp_business.csv")

In [47]:
business_db.head(10)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...
5,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,5,1,Italian;Restaurants
6,kCoE3jvEtg6UVz5SOD3GVw,"""BDJ Realty""",Summerlin,"""2620 Regatta Dr, Ste 102""",Las Vegas,NV,89128,36.207430,-115.268460,4.0,5,1,Real Estate Services;Real Estate;Home Services...
7,OD2hnuuTJI9uotcKycxg1A,"""Soccer Zone""",NaN,"""7240 W Lake Mead Blvd, Ste 4""",Las Vegas,NV,89128,36.197484,-115.249660,1.5,9,1,Shopping;Sporting Goods
8,EsMcGiZaQuG1OOvL9iUFug,"""Any Given Sundae""",NaN,"""2612 Brandt School Rd""",Wexford,PA,15090,40.615102,-80.091349,5.0,15,1,Coffee & Tea;Ice Cream & Frozen Yogurt;Food
9,TGWhGNusxyMaA4kQVBNeew,"""Detailing Gone Mobile""",NaN,"""""",Henderson,NV,89014,36.055825,-115.046350,5.0,7,1,Automotive;Auto Detailing

In [48]:
business_db['business_id'].isnull().sum()

0

In [49]:
business_db.dtypes

business_id      object
name             object
neighborhood     object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
categories       object
dtype: object

In [50]:
business_db.to_csv('C:\\Users\\raksh\\OneDrive\\Desktop\\DAMG Project\\Preprocessed_data\\yelp_business.csv', encoding='utf-8',index=False)